body {
  background-color: rgb(217, 250, 167);
}

h1,
h2 {
  text-align: center;
}

img {
  max-width: 800px;
  height: auto;
}

table {
  width: 300%;
  max-width: 800px;
  margin: auto;
  /* Tabloyu ortala */
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: black;
  background-color: whitesmoke;
  font-size: 18px;
}

th {
  padding: 8px;
  border: 1px solid black;
  background-color: rgb(255, 255, 143);
  color: black;
  font-size: 18px;
}

.glucose.green,
.glucose.orange,
.glucose.red {
  color: whitesmoke;
  font-size: 20px;
}

.glucose.green {
  background-color: rgb(106, 211, 2);
}

.glucose.orange {
  background-color: #f6950d;
}

.glucose.red {
  background-color: red;
}

#range-select {
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  width: 150px;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="%23333" d="M0 2.25L4 6.25L8 2.25H0Z"/></svg>') !important;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}

#range-select option {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#range-select option:checked {
  font-weight: bold;
}