/* Arka plan rengi */
body {
    background-color: skyblue;
  }
  
  /* Dosya yükleme butonu stil ayarları */
  input[type="file"] {
    display: none;
  }
  
  #image_label {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
  }
  
  #image_label:hover {
    background-color: rgb(240, 185, 114);
  }
  
  /* Gönderme butonu stil ayarları */
  #submit_button {
    background-color: rgba(22, 102, 240, 0.973);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
  }
  
  #submit_button:hover {
    background-color: rgb(3, 30, 238);
  }
  
  /* Kamera butonu stil ayarları */
  #type-button {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
  }
  
  #type-button:hover {
    background-color: rgb(240, 185, 114);
  }
  
  /* Butonları içeren div stil ayarları */
  .btn-option {
    text-align: center;
  }