<html>
<head>
    <title>Kamera Uygulaması</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/camera.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <video id="video" width="640" height="480" style="display:none"></video>
        <button id="take_photo" style="display:none">Take Photo</button>
        <img id="foto" style="display:none"/>
        <button id="send_image" style="display:none">Send Image</button>
        <button id="take_photo_again" style="display:none">Take Photo Again</button>
    </div>

    <script>
        var video = document.getElementById('video');
        var canvas = document.createElement('canvas');
        var img = document.getElementById('foto');
        var context = canvas.getContext('2d');
        var take_photo = document.getElementById('take_photo');
        var send_image = document.getElementById('send_image');
        var take_photo_again = document.getElementById('take_photo_again');
        var photoTaken = false;
        var stream = null;
    
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(s) {
                stream = s;
                video.srcObject = stream;
                video.play();
                video.addEventListener('loadedmetadata', function() {
                    // Ayarlanan boyutlara göre canvas boyutları ayarlanır
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                });
            });
        }
        take_photo.style.display = "block";
        video.style.display = "block";
        img.style.display = "none";
        send_image.style.display = "none";
        take_photo_again.style.display = "none";
        photoTaken = false;
    

        function takePhoto() {
            video.pause();
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            // Ayarlanan boyutlara göre img boyutları ayarlanır
            img.width = canvas.width;
            img.height = canvas.height;
            img.src = canvas.toDataURL('image/png');
            img.style.display = "block";
            video.style.display = "none";
            take_photo.style.display = "none";
            send_image.style.display = "block";
            take_photo_again.style.display = "block";
            photoTaken = true;
            stream.getTracks()[0].stop()
        }

        $(document).ready(function() {
            $('#take_photo').on('click', function() {
                if(!photoTaken) {
                    takePhoto();
                }
            });

            $('#take_photo_again').on('click', function() {
                location.reload();
            });
            $('#send_image').on('click', function() {
                if (photoTaken) {
                    // create a form element
                    var form = document.createElement('form');
                    form.action = '/meal/nutritions/';
                    form.method = 'POST';
                    form.enctype = 'multipart/form-data';

                    // append an input element with the captured image's data URI as its value
                    var imageInput = document.createElement('input');
                    imageInput.type = 'hidden';
                    imageInput.name = 'camera_image';
                    imageInput.value = img.src;
                    form.appendChild(imageInput);

                    // submit the form
                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                    }
                });
		});
	</script>
</body>
</html>