<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/foods.css') }}">
  <title>Two Body HTML Page</title>
</head>
<body>
  <div id="container">
    <div id="food-info">
      <h1>Food Infos</h1>
      {% for obj in objects %}
      <div>
        <label for="food">Food:</label>
        <input type="text" id="food" name="foods" value="{{ obj }}">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantities" value="">
        <button class="remove-food-btn" onclick="removeFoodInfo(this)">x</button>
      </div>
      {% endfor %}
      <button id="add-food-btn" onclick="addFoodInfo()">+</button>
    </div>
    <div>
      <button id="submit-button" onclick="sendFormData()">Submit</button>
    </div>
  </div>
  <script>
    function addFoodInfo() {
      const foodInfoDiv = document.querySelector('#food-info');
      const newFoodDiv = document.createElement('div');
      newFoodDiv.innerHTML = `
        <label for="food">Food:</label>
        <input type="text" id="food" name="foods" value="">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantities" value="">
        <button class="remove-food-btn" onclick="removeFoodInfo(this)">x</button>
      `;
      foodInfoDiv.insertBefore(newFoodDiv, document.querySelector('#add-food-btn'));
    }

    function removeFoodInfo(btn) {
      btn.parentNode.parentNode.removeChild(btn.parentNode);
    }

    function sendFormData() {
    const containerDiv = document.querySelector('#container');
    const foodInputs = containerDiv.querySelectorAll('input[name="foods"]');
    const quantityInputs = containerDiv.querySelectorAll('input[name="quantities"]');
    const foods = [];
    const quantities = [];
    for (let i = 0; i < foodInputs.length; i++) {
      foods.push(foodInputs[i].value);
      quantities.push(quantityInputs[i].value);
    }

    fetch('/temporary-storage-for-inputs', {
      method: 'POST',
      body: JSON.stringify({ foods, quantities }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      console.log(response);
      // handle response as needed
      // navigate to '/meal/user-log/'
      location.href = '/meal/user-log/';
    })
    .catch(error => {
      console.error(error);
      // handle error as needed
    });
    
    event.preventDefault(); // prevent default form submission behavior
  }
  </script>
</body>
</html>