<!DOCTYPE html>
<html>
<head>
    <title>Glucose Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/glucose_analysis.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Glucose Graphic</h1>
    {{fig_html|safe}}
</body>
<body>
    <div class="container">
        <div class="table-wrapper">
            <h2>Average Glucose Table</h2>
            <table>
                <thead>
                    <tr>
                        {% for variable in avg_glucose.keys() %}
                            <th>{{variable}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for key, value in avg_glucose.items() %}
                            {% if key == "HbA1C" %}
                                <td class="glucose {% if value >= 5.5 and value <= 7 %}green{% elif value > 7 and value <= 8 %}orange{% else %}red{% endif %}">
                                    {{ value }}
                                </td>
                            {% elif key == "Average_Postprandial_Glucose" %}
                                <td class="glucose {% if value >= 90 and value <= 140 %}green{% elif value > 140 and value <= 200 %}orange{% else %}red{% endif %}">
                                    {{ value }}
                                </td>
                            {% elif key == "Average_Fasting_Glucose" %}
                                <td class="glucose {% if value >= 70 and value <= 130 %}green{% elif value > 130 and value <= 160 %}orange{% else %}red{% endif %}">
                                    {{ value }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</body>
<body>

<h1>Nutrition Analysis</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Avg Calories</th>
    <th>Avg Carbs</th>
    <th>Avg Protein</th>
    <th>Avg Fat</th>
  </tr>
  {% for row in avg_nutritions %}
  <tr>
    <td>{{ row.month.strftime('%B %Y') }}</td>
    <td>{{ row.avg_calories|round(2) }}</td>
    <td>{{ row.avg_carbs|round(2) }}</td>
    <td>{{ row.avg_protein|round(2) }}</td>
    <td>{{ row.avg_fat|round(2) }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>