<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/base.css')}}">
    <meta charset="UTF-8">
    <title>Health Tracker</title>
  </head>
  <body class="homebody">
    <div>
      <form action="{{ url_for('newmeal_page') }}" method="get">
        <button class="btnhome" id="newMealBtn" type="submit">New Meal</button>
      </form>
      <form action="{{ url_for('newmeal_page') }}" method="get">
        <button class="btnhome" id="bloodSugarBtn" type="submit">Blood Sugar</button>
      </form>
      <form action="{{ url_for('newmeal_page') }}" method="get">
        <button class="btnhome" id="dailyCaloriesBtn" type="submit">Daily Calories</button>
      </form>
    </div>
  </body>
</html>