<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/home.css')}}">
    <meta charset="UTF-8">
    <title>Health Tracker</title>
  </head>
  <body class="homebody">
    <div>
      <form action="/meal/nutritions/" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="uploaded_image" id="image_input">
        <label class="btns" for="image_input" id="image_label">New Meal</label>
        <button id="submit_button" style="display: none;">Submit Image</button>
      </form>

      <form action="/home/analytics/glucose-analysis/" method="get">
        <button class="btns" id="analyticsBtn" type="submit">View Analytics</button>
    </form>
    </div>
    <script>
      const imageInput = document.getElementById("image_input");
      const imageLabel = document.getElementById("image_label");
      const submitButton = document.getElementById("submit_button");

      imageInput.addEventListener("change", () => {
        if (imageInput.files.length > 0) {
          imageLabel.innerHTML = "Change Image";
          submitButton.style.display = "block";
        } else {
          imageLabel.innerHTML = "Upload Image";
          submitButton.style.display = "none";
        }
      });
    </script>
  </body>
</html>