<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/meal_suggestions.css') }}">
        <title>Data Tables</title>
</head>

<body>
        <h2>Good Glucose Data</h2>
        <table>
                <thead>
                        <tr>
                                <th>Meal Time</th>
                                <th>Foods</th>
                                <th>Quantities of Foods (gr)</th>
                                <th>Carbohydrate Amount Total (gr)</th>
                                <th>Fasting Glucose</th>
                                <th>Novorapid Dose</th>
                                <th>Postprandial Glucose</th>
                                <th>Did Activity</th>
                                <th>Minutes After Activity</th>
                        </tr>
                </thead>
                <tbody>
                        {% set max_values_len = data_w_good_glucose.values()|map('length')|max %}
                        {% for i in range(max_values_len) %}
                        <tr>
                                <td>{{ data_w_good_glucose["meal_time"][i].strftime("%H:%M") if i <
                                                data_w_good_glucose["meal_time"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["food_names"][i] if i <
                                                data_w_good_glucose["food_names"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["food_quantities"][i] if i <
                                                data_w_good_glucose["food_quantities"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["carbohydrate_amount_total"][i] if i <
                                                data_w_good_glucose["carbohydrate_amount_total"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["fasting_glucose"][i] if i <
                                                data_w_good_glucose["fasting_glucose"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["novorapid_dose"][i] if i <
                                                data_w_good_glucose["novorapid_dose"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["postprandial_glucose"][i] if i <
                                                data_w_good_glucose["postprandial_glucose"]|length else "" }}</td>
                                <td>{{ data_w_good_glucose["did_activity"][i] if i <
                                                data_w_good_glucose["did_activity"]|length else "" }}</td>
                                <td>{% if i < data_w_good_glucose["minutes_after_activity"]|length and
                                                data_w_good_glucose["minutes_after_activity"][i] !=1 %} {{
                                                data_w_good_glucose["minutes_after_activity"][i] }} {% endif %} </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
        <h2>High Glucose Data</h2>
        <table>
                <thead>
                        <tr>
                                <th>Meal Time</th>
                                <th>Foods</th>
                                <th>Quantities of Foods (gr)</th>
                                <th>Carbohydrate Amount Total (gr)</th>
                                <th>Fasting Glucose</th>
                                <th>Novorapid Dose</th>
                                <th>Postprandial Glucose</th>
                                <th>Did Activity</th>
                                <th>Minutes After Activity</th>
                        </tr>
                </thead>
                <tbody>
                        {% set max_values_len = data_w_high_glucose.values()|map('length')|max %}
                        {% for i in range(max_values_len) %}
                        <tr>
                                <td>{{ data_w_high_glucose["meal_time"][i].strftime("%H:%M") if i <
                                                data_w_high_glucose["meal_time"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["food_names"][i] if i <
                                                data_w_high_glucose["food_names"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["food_quantities"][i] if i <
                                                data_w_high_glucose["food_quantities"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["carbohydrate_amount_total"][i] if i <
                                                data_w_high_glucose["carbohydrate_amount_total"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["fasting_glucose"][i] if i <
                                                data_w_high_glucose["fasting_glucose"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["novorapid_dose"][i] if i <
                                                data_w_high_glucose["novorapid_dose"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["postprandial_glucose"][i] if i <
                                                data_w_high_glucose["postprandial_glucose"]|length else "" }}</td>
                                <td>{{ data_w_high_glucose["did_activity"][i] if i <
                                                data_w_high_glucose["did_activity"]|length else "" }}</td>
                                <td>{% if i < data_w_high_glucose["minutes_after_activity"]|length and
                                                data_w_high_glucose["minutes_after_activity"][i] !=1 %} {{
                                                data_w_high_glucose["minutes_after_activity"][i] }} {% endif %} </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
</body>

</html>