<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Postprandial Glucose Input</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/missing_new_meal.css') }}">
  <script>
    function confirmDeleteAndRedirect() {
      if (confirm("It'll be deleted from the database. Are you sure?")) {
        document.getElementById('deleteForm').submit();
      }
    }
  </script>
</head>

<body>
  <div class="container">
    <h1>Missing New Meal Data Information</h1>
    <div class="meal-row">
      <ul>
        <li>
          {% for key, value in missing_new_meal.items() %}
          <label>{{ key }}:</label> <span>{{ value }} gr</span><br>
          {% endfor %}
        </li>
      </ul>
    </div>
    <p>Do you want to continue to new meal?</p>
    <div class="buttons">
      <form action="/newmeal/user-log/" method="get">
        <button type="submit" class="yes">Yes</button>
      </form>
      <button onclick="confirmDeleteAndRedirect()" class="no">No</button>
      <form action="/home" method="get">
        <button type="submit" class="remind-me-later">Remind me later</button>
      </form>
      <form id="deleteForm" action="/delete-missing-and-redirect" method="post" style="display: none;">
        <input type="hidden" name="user_id" value="{{ user_id }}">
      </form>
    </div>
  </div>
</body>

</html>