<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
    href = "{{url_for('static', path='/css/base.css') }}">
    <meta charset="UTF-8">
    <title>Health Tracker</title>
  </head>
  <body class="po_body">
    <div class="btn-option">
      <form action="/meal/nutritions/" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="food_image">
        <input type="hidden" name="form_name" value="send_image">
        <button id="Select-button">Select Image</button>
      </form>
      <form action="/meal/nutritions/" method="post">
        <input type="hidden" name="form_name" value="typing">
       <button id="type-button">Type Food Names</button>
      </form>
  </div>
  </body>
</html>
