<!DOCTYPE html>
<html>

<head>
  <title>Register Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/register.css') }}">
  <meta charset="UTF-8"> <!--Türkçe karakter-->
  <meta name="viewport" content="width=device-width" , initial-scale="1.0"> <!--Telefon ve bilgisayar width oto ayar-->
</head>

<body class="register-page">
  <form class="register-form" action="/register" method="post">
    <label for="username">Username:</label>
    <input class="register-bar" type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input class="register-bar" type="password" id="password" name="password" required>
    <p class="warning-text">Warning: For security reasons, please do not enter any password you use in daily life.
      Create a simple password</p>
    <label for="email">Email:</label>
    <input class="register-bar" type="email" id="email" name="email" required>
    <br>
    <label for="age">Age:</label>
    <input class="register-bar" type="number" id="age" name="age" required>
    <br>
    <label for="weight">Weight:</label>
    <input class="register-bar" type="number" id="weight" name="weight" placeholder="type in kg" required>
    <br>
    <label for="height">Height:</label>
    <input class="register-bar" type="number" id="height" name="height" placeholder="type in cm" required>
    <br>
    <label for="body-fat">Body Fat:</label>
    <input class="register-bar" type="number" id="body-fat" name="body-fat" required>
    <br>
    <label for="activity">Activity:</label>
    <select class="register-bar" id="activity" name="activity" required>
      <option value="Sedentary">Sedentary</option>
      <option value="Lightly Active">Lightly Active</option>
      <option value="Moderately Active">Moderately Active</option>
      <option value="Very Active">Very Active</option>
      <option value="Super Active">Super Active</option>
    </select>
    <br><br>
    {% if msg %}
    <div class="success-message">{{ msg }}</div>
    {% endif %}
    <input class="register-button" type="submit" value="Register">
  </form>
</body>

</html>