<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/user_log.css') }}">
</head>
<body>
	<div id="user-log">
	    <h1>User Log</h1>
        <form action="/newmeal/add-todo" method="post">
	        <div>
	            <label for="did-activity">Did Activity:</label>
	            <select id="did-activity" name="did-activity">
	                <option value="yes">Yes</option>
	                <option value="no">No</option>
	            </select>
	        </div>
            <div>
                <label for="activity-end-time">Activity End Time:</label>
                <input type="time" id="activity-end-time" name="activity-end-time" placeholder="HH:MM | e.g 07:30, 19:20">
            </div>
          
            <div>
                <label for="hunger-status">Hunger Status:</label>
                <select id="hunger-status" name="hunger-status">
                    <option value="too-hungry">Too hungry</option>
                    <option value="hungry">Hungry</option>
                    <option value="normal">Normal</option>
                </select>
            </div>
          
            <div>
                <label for="fasting-glucose">Fasting Glucose:</label>
                <input type="text" id="fasting-glucose" name="fasting-glucose" placeholder="e.g 137, 200">
            </div>
            {% for extra_label in extra_labels %}
            <div>
                <label for="{{ extra_label }}">{{ extra_label.title() }}:</label>
                <input type="time" id="{{ extra_label }}" name="{{ extra_label }}" placeholder="e.g. 50g">
            </div>
            {% endfor %}
            <button type="submit" id="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>